/* #circuitsMap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#circuitsEuropeMap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
} */


* {
	font-family: "Formula1-Bold";
}

.vis-container {
    width: 100%;
}

@font-face {
    font-family: "Formula1-Bold";
    src: url("Formula1-Bold.otf");
}

.header {
	font-family: "Formula1-Bold";
	color: white;
	background-color: #cf2d1e;
	padding: 20px;
	font-size: 20px;
}

.pure-g {
	margin-bottom: 0px;
}

/* color: #cf2d1e; */
