@font-face {
    font-family: "Formula1-Bold";
    src: url("Formula1-Bold.otf");
}

@font-face {
	font-family: "Formula1-Regular";
	src: url("Formula1-Regular.otf");
}

@font-face {
	font-family: "Formula1-Wide";
	src: url("Formula1-Wide.otf");
}

body {
	background: url(/Assignments/2/css/carBackground.png);
	background-repeat: repeat;
}

.main-wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 100px;
	border-radius: 25px;
	background-color: white;
}

.title-wrapper {
	font-family: "Formula1-Bold";
	font-size: 25px;
	color: white;
	background-color: #FF1801;
	text-align: center;
	border-radius: 25px;
	margin: 20px;
	padding: 5px;
}

.body-wrapper {
	font-family: "Formula1-Regular";
	color: black;
	border-radius: 25px;
	background-color: white;
}

.section {
	display: flex;
	margin: 30px
}

.vis-container {
	top:50px;
	bottom: 100px; 
	margin: 0 auto;
	background-color: white;
}

.vis {
	font-family: "Formula1-Regular";
	font-size: 10px;
}


.header {
	font-family: "Formula1-Bold";
	color: white;
	background-color: #cf2d1e;
	padding: 20px;
	font-size: 20px;
}

.left-section {
	float: left;
	max-width: 50%
}

.right-section {
	float: right;
	max-width: 50%
}

.text {
    text-align: center;
    border-radius: 25px;
	margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/* color: #cf2d1e; */
