/* #circuitsMap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#circuitsEuropeMap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
} */

@font-face {
    font-family: "Formula1-Bold";
    src: url("Formula1-Bold.otf");
}

@font-face {
	font-family: "Formula1-Regular";
	src: url("Formula1-Regular.otf");
}

@font-face {
	font-family: "Formula1-Wide";
	src: url("Formula1-Wide.otf");
}

body {
	background: url(/Assignments/2/css/carBackground.png);
	background-repeat: repeat;
}

.main-wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color:whitesmoke;
	border-radius: 25px;
}

.title-wrapper {
	font-family: "Formula1-Bold";
	font-size: 25px;
	color: white;
	background-color: #FF1801;
	text-align: center;
	border-radius: 25px;
}

.body-wrapper {
	font-family: "Formula1-Regular";
}

.vis-container {
    width: 100%;
	top:100px;
	bottom: 100px; 
	left: 50px;
	right: 50px;
	background-color: whitesmoke;
}

.vis {
	font-family: "Formula1-Regular";
	font-size: 10px;
}


.header {
	font-family: "Formula1-Bold";
	color: white;
	background-color: #cf2d1e;
	padding: 20px;
	font-size: 20px;
}

.pure-g {
	margin-bottom: 0px;
}

/* color: #cf2d1e; */
